
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, Arial, sans-serif;
}
:root{
  --black: #212A31;
  --darkgray: #2E3944;
  --darkblue: #124E66;
  --gray: #748D92;
  --white: #D3D9D4;
}
body{
  height: 100vh;
  min-height: 100vh;
}
.title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.logo {
  width: 50px;
  border-radius: 50px;
  margin-right: 20px;
}
h1{
  font-size: 2rem;
  width: 250px;
  word-break: break-word;
}
.title{
  text-decoration: none;
  color: var(--darkblue);
  cursor: pointer;
}
nav{
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue);
  color: var(--white);
  box-shadow: 0 0 15px rgba(3, 53, 53, 0.3);
  }
nav p{
  cursor: pointer;
  width: 50%;
  height: 60px;
  display: flex; 
  text-align: center;
  align-items: center; 
  justify-content: center; 
}
nav p:hover{
  background-color: rgb(204, 204, 204);
  color: var(--darkblue);
  transition: all 0.4s;
}
main{
  display: grid;
  grid-template-columns: repeat(2, 190px);
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  grid-gap: 15px;
  min-height: 100vh;
}
.product-container{
  width: 190px;
  text-align: center;
  box-shadow: 0 0 10px rgba(3, 53, 53, 0.3);
  height: 260px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.7);
}
.product-container img{
  width: 190px;
  height: 190px;
  transition: all 0.5s;
}
.product-container:hover img{
  transform: scale(1.02);
}
.product-details {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0; 
  height: 58px;
  background-color: rgba(238, 238, 238, 0.7);
  transition: all 0.5s ease;
}
.floating-product{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100%;
  position: fixed;
  left: 0;
  top: -20px;
  width: 100%;
}

.zoom-details{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgray);
  border-radius: 5px;
  width: 70%;
  height: 700px;
  z-index: 2;
  padding-top: 100px;
}
.zoom-details img{
  height: 300px;
  width: 200px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.zoom-details p{
  font-size: calc(0.5vw + 15px);
}
.zoom-details p:not(:first-child){
  text-wrap: nowrap;
  text-align: center;
}
.floating-product .details{
  color: var(--white);
  height: 300px;
  width: 90%;
  text-align: center;
}
.close-floating{
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 5px;
  cursor: pointer;
  color: white;
  font-size: 3rem;
}
footer{
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--darkgray);
  color: var(--white);
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  position: relative;
}
footer h2{
  font-size: 2rem;
}

footer p:nth-child(2){
margin-left: auto;
}
.footer-right{
  margin-left: 10px;
}
footer a:hover{
  transform: scale(1.05);
}
.shopee{
  margin: 0 10px;
}
@media only screen and (min-width: 480px) {
  .title-container{
    justify-content: start;
    margin-left: 20px;
  }
  h1{
    width: 100%;
  }
  main{
    grid-template-columns: repeat(auto-fit, 300px);
    width: 90%;
    grid-gap: 30px;
    margin: 40px auto;
  }
  .product-container{
    width: 300px;
    height: 420px;
  }
  .product-container img{
    width: inherit;
    height: 350px;
  }
  .zoom-details{
    width: calc(30% + 100px);
    height: fit-content;
  }
  .zoom-details img{
    height: calc(10vw + 120px);
    width: calc(10vw + 120px);
  }
}